.dayInformation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

button, input{
    margin:6px;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.5rem;
}

.dayInformation{
    margin: auto;
    width: 300px;
}